{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}

<script>
function change_toggle_text_color(p_id)
{   //window.location.href = '/dashboard?period=30'
    var searchEles = document.getElementById("div_timeframe_filter").querySelectorAll("p");
    for(var i = 0; i < searchEles.length; i++) {
        if(searchEles[i].id == p_id) {
            searchEles[i].style = "color:green;";
            }
        else {
            searchEles[i].style = "color:blue;";
        }
    }
}


function addTable(data,current_page) {
    console.log("Table current_page - ",current_page)
    var tableBody = document.getElementById("tab_performance_body");
    // remove older TR first
    var all_tr = tableBody.querySelectorAll("TR");
    for (j=0;j<all_tr.length;j++){
    each_tr = all_tr[j];
    each_tr.remove();
    }
    start = (current_page - 1)*10
    end =  start + 10
    data_arr = []
    for (var each_key in data){
    each_element = data[each_key]
    data_arr.push(each_element)
    }
    page_data = data_arr.slice(start, end);
    for (var i = 0; i < page_data.length; i++) {
    var obj = page_data[i]
    var tr = document.createElement('TR');
    tableBody.appendChild(tr);
    for (var key in obj) {
      var td = document.createElement('TD');
      var value = obj[key];
      if (key == "companyname") {
            td.appendChild(document.createTextNode(value.trim()));
            var a = document.createElement('a')
            a.classList.add("badge")
            a.classList.add("badge-pill")
            a.classList.add("badge-primary")
            //var value = obj['industry']
            a.style = "font-size:7px;float:bottom; clear:left;"
            a.textContent = obj['industry']
            td.appendChild(a)
            tr.appendChild(td);
      }
      if (key == "symbol") {
        td.appendChild(document.createTextNode(value));
        tr.appendChild(td);
      }
      if(key == "avg_rise"){
           value = parseFloat(value).toFixed(3)
           td.appendChild(document.createTextNode(value));
           tr.appendChild(td);
      }
      if (key == "today_rise_percentage" || key == "vol_rise_mv" || key == "del_rise_mv"){
          var span = document.createElement('span');
          value = parseFloat(value).toFixed(3)
          span.classList.add("fas");
          span.style = "align: center;"
          if (value < 0){
              span.classList.add("fa-arrow-down")
              span.classList.add("text-danger")
              }
          else if(value > 0){
              span.classList.add("fa-arrow-up")
              span.classList.add("text-success")
              }
          else {
              span.classList.add("fa-arrows-alt-h")
              span.classList.add("text-success")
          }
          span.appendChild(document.createTextNode(" "+value));
          //td.appendChild(document.createTextNode(value));
          td.appendChild(span)
          tr.appendChild(td);
      }
      if(key == "patterns"){
           values = value.replace(/\s/g, '').split(",")
           for (each in values){
                if(values[each] != "" && !values[each].startsWith("twenty") && !values[each].startsWith("seven")){
                    var a = document.createElement('button')
                    a.type = 'button'
                    a.classList.add("btn")
                    a.classList.add("btn-sm")
                    a.classList.add("btn-info")
                    a.setAttribute('data-container', 'body');
                    a.setAttribute('data-toggle', 'popover');
                    a.setAttribute('data-placement', 'left');
                    a.setAttribute('data-html', 'true');
                    a.setAttribute('data-content', timeline_html);
                    a.setAttribute('rel', 'popover');
                    a.style = "font-size:9px;margin-right:4px;margin-bottom: 4px;"
                    a.textContent = values[each]
                    td.appendChild(a)
                }

           }
           tr.appendChild(td);
      }

      if(key=="mf_house"){
               if (value){
                   values = value.replace(/,/g, '').slice(0, -1).split("|")
                   console.log("***mutual fund****")
                   console.log(values)
                   actual_len = values.length
                   console.log("Actual Lenght ---"+actual_len)
                   remaining_length = actual_len - 2
                   console.log("remaining Lenght ---"+remaining_length)
                   //td.appendChild(document.createTextNode(value+actual_len+remaining_length));
                   if (actual_len <= 2){
                        for(each in values){
                              if (value[each] != ""){
                                var a = document.createElement('a')
                                a.classList.add("badge")
                                a.classList.add("badge-pill")
                                a.classList.add("badge-secondary")
                                a.style = "font-size:9px;margin-right:4px;margin-bottom: 4px;"
                                a.textContent = values[each]
                                td.appendChild(a)
                              }
                        }
                   }
                   else{j=0
                        for(each in values){
                            if (j < 2){
                                  if (values[each] != ""){
                                    var a = document.createElement('a')
                                    a.classList.add("badge")
                                    a.classList.add("badge-pill")
                                    a.classList.add("badge-secondary")
                                    a.style = "font-size:9px;margin-right:4px;margin-bottom: 4px;"
                                    a.textContent = values[each]
                                    td.appendChild(a)
                                    j = j + 1
                                  }
                            }
                        }
                        var a = document.createElement('a')
                        a.classList.add("badge")
                        a.classList.add("badge-pill")
                        a.classList.add("badge-primary")
                        a.style = "font-size:9px;margin-right:4px;margin-bottom: 4px;"
                        a.setAttribute('data-container', 'body');
                        a.setAttribute('data-toggle', 'popover');
                        a.setAttribute('data-placement', 'bottom');
                        a.setAttribute('data-html', 'true');
                        a.setAttribute('data-content',values.slice(2).join() );
                        a.setAttribute('rel', 'popover');
                        a.textContent = "+"+remaining_length
                        td.appendChild(a)

                   }
               }
               tr.appendChild(td);
           }
      /*else {
            td.appendChild(document.createTextNode(value));
            tr.appendChild(td);
      } */
    }
  }
}

function createpageicon(curr_page=1,data,period=15,max_page=6){
    //alert(typeof data)
    //alert(curr_page)
    //console.log("data type below")
    //console.log(typeof data)
    //console.log("curr_page - "+curr_page)
    first_page = curr_page

    ul_element = document.getElementById("ul_pagination");
    var all_li = ul_element.querySelectorAll("li");
    for (j=1;j<all_li.length;j++){
    each_li = all_li[j];
    each_li.remove();
    }
    start = curr_page;
    end = curr_page+2;
    if (end < max_page){
        second_page = curr_page + 1
        third_page = curr_page + 2
        end = curr_page+2;
    }
    else{
        first_page = max_page - 2
        second_page = max_page - 1
        third_page = max_page
        end=max_page;
        }
    prev = start - 1
    next = end + 1
    li_element = document.createElement('li');
    if (start != 1){
        li_element.innerHTML = "<li><a class='page-link'><span aria-hidden='true'>&laquo;</span></a></li>";
        li_element.addEventListener("click",function(){createpageicon(prev,data,period)}, false);
        ul_element.append(li_element)
    }
    //for (i=start;i<=end;i++){
        li_element = document.createElement('li');
        li_element.innerHTML = "<li><a class='page-link' style='color:green;'><b>"+first_page+"</b></a></li>";
        li_element.addEventListener("click",function(){createpageicon(first_page,data,period)}, false);
        //li_element.style = "color:green;";
        ul_element.append(li_element)
         li_element = document.createElement('li');
        li_element.innerHTML = "<li><a class='page-link'>"+second_page+"</a></li>";
        li_element.addEventListener("click",function(){createpageicon(second_page,data,period)}, false);
        ul_element.append(li_element)
         li_element = document.createElement('li');
        li_element.innerHTML = "<li><a class='page-link'>"+third_page+"</a></li>";
        li_element.addEventListener("click",function(){createpageicon(third_page,data,period)}, false);
        ul_element.append(li_element)
    //}
    if (end != 6 && end < max_page ){
        li_element = document.createElement('li');
        li_element.innerHTML = "<li><a class='page-link'><span aria-hidden='true'>&raquo;</span></a></li>";
        li_element.addEventListener("click",function(){createpageicon(next,data,period)}, false);
        ul_element.append(li_element)
    }
    //console.log(data)  createpageicon(1,{{data|safe}})
    //console.log(typeof data)
    change_toggle_text_color("period_"+period)
    addTable(data,curr_page)
  }

function search(source=[],period=15) {
    //console.log("hi")
    var results;
    input = document.getElementById("myInput");
    query_symbol = input.value.toUpperCase();
    results = $.map(source, function(entry) {
        var match = entry.symbol.toUpperCase().indexOf(query_symbol) !== -1 || entry.patterns.toUpperCase().indexOf(query_symbol) !== -1;
        return match ? entry : null;
    });
    //console.log(results)
    createpageicon(curr_page=1,results,period,max_page=6)
    //return results;
}


function searchSymboltable(data) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tab_performance");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    symbol_td = tr[i].getElementsByTagName("td")[0];
    pattern_td = tr[i].getElementsByTagName("td")[4];
    if (symbol_td || pattern_td) {
      symbolValue = symbol_td.textContent || symbol_td.innerText;
      patternValue = pattern_td.textContent || pattern_td.innerText;
      if ((symbolValue.toUpperCase().indexOf(filter) > -1) || (patternValue.toUpperCase().indexOf(filter) > -1))
      {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

var timeline_html = `


<div class="timeline">
  <div class="container left">
    <div class="content">
      <h5>2017</h2>
      <p>Lorem ipsum .</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2016</h2>
      <p>Lorem ipsum .</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2015</h2>
      <p>Lorem ipsum .</p>
    </div>
  </div>

  </div>
</div>`

</script>

<!--<script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>-->
    <div class="col-12 col-xl-12 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input class='h-75' type='text' id='myInput' background-image='/static/searchicon.png'  onkeyup='search({{data|safe}},{{period}})' placeholder='Search for Symbol or Patterns..' title='Type in a symbol'>
                                    </input>
                                <div id="div_timeframe_filter" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                   <label class="btn btn-light h-75   active"> <!-- onclick = "change_toggle_text_color('last1monthlink')" -->
                                        <a href="{{ url_for('dashboard_page',period=30) }}"><input type="radio" name="options" id="option1" autocomplete="off" > <p id="period_30" style="color:blue;" checked> Last 1 month</p></a>
                                    </label>
                                    <label class="btn btn-light h-75 ">
                                        <a href="{{ url_for('dashboard_page',period=15) }}"><input type="radio" name="options" id="option2" autocomplete="off"> <p id="period_15" style="color:blue;" >Last 15 days</p></a>
                                    </label>
                                    <label class="btn btn-light h-75">
                                        <a href="{{ url_for('dashboard_page',period=7) }}"><input type="radio" name="options" id="option3" autocomplete="off" > <p id="period_7" style="color:blue;" >Last 7 days</p></a>
                                    </label>
                                </div>
                                </div>
                            </div></div></div><div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5"> Performance
                                </h2>
                                </div>
<!--                                <div class="col text-right">-->
<!--                                    <a href="#" class="btn btn-sm btn-secondary">See all</a>-->
<!--                                </div>-->
                                <ul id="ul_pagination" class="pagination">
                                    <!--<li class="page-item">
                                      <a id="prev_page" class="page-link" href="/dashboard/{{current_page_no|int - 1}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                    </li> -->

                                    <!--<li class="page-item">
                                      <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                      </a>
                                    </li> -->
                                  </ul>
                            </div>
                        </div>
                        <div id="div_performance11" class="table-responsive">
                            <table id="tab_performance" cellpadding="0" cellspacing="0" border="0" class="table table-hover table-sm table-bordered table-condensed">

                                <thead class="thead-light table-condensed">
                                <tr>
                                    <th scope="col">Stock Name</th>
                                    <th scope="col">Symbols</th>
                                    <th scope="col">Avg. % Change per day </th>
                                    <th scope="col">Last % Change </th>
                                    <th scope="col">Volume % change<small> (20 days MAV)</small></th>
                                    <th scope="col">Delivery % change<small> (20 days MAV)</small></th>
                                    <th scope="col">Pattern</th>
                                    <th scope="col">Mutual Fund Houses</th>
                                </tr>
                                </thead>
                                <tbody id="tab_performance_body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script>
        createpageicon(1,{{data|safe}},{{period}});
        </script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
</script>



<!--        <div class="col-12 col-xl-4 mb-4">-->
<!--            <div class="col-12 px-0 mb-4">-->
<!--                <div class="card border-light shadow-sm">-->
<!--                    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">-->
<!--                        <div class="d-block">-->
<!--                            <div class="h6 fw-normal text-gray mb-2">Total orders</div>-->
<!--                            <h2 class="h3">452</h2>-->
<!--                            <div class="small mt-2">                               -->
<!--                                <span class="fas fa-angle-up text-success"></span>                                   -->
<!--                                <span class="text-success fw-bold">18.2%</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="d-block ms-auto">-->
<!--                            <div class="d-flex align-items-center text-right mb-2">-->
<!--                                <span class="shape-xs rounded-circle bg-dark me-2"></span>-->
<!--                                <span class="fw-normal small">July</span>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center text-right">-->
<!--                                <span class="shape-xs rounded-circle bg-secondary me-2"></span>-->
<!--                                <span class="fw-normal small">August</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card-body p-2">-->
<!--                        <div class="ct-chart-ranking ct-golden-section ct-series-a"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 px-0 mb-4">-->
<!--                <div class="card border-light shadow-sm">-->
<!--                    <div class="card-body">-->
<!--                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">-->
<!--                            <div>-->
<!--                                <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-globe-europe"></span></span>Global Rank</h6>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <a href="#" class="text-primary fw-bold">#755<span class="fas fa-chart-line ms-2"></span></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">-->
<!--                            <div>-->
<!--                                <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-flag-usa"></span></span>Country Rank</h6>-->
<!--                                <div class="small card-stats">United States<span class="icon icon-xs text-success ms-2"><span class="fas fa-angle-up"></span></span></div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <a href="#" class="text-primary fw-bold">#32<span class="fas fa-chart-line ms-2"></span></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-between pt-3">-->
<!--                            <div>-->
<!--                                <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-folder-open"></span></span>Category Rank</h6>-->
<!--                                <a href="#" class="small card-stats">Travel > Accomodation</a>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <a href="#" class="text-primary fw-bold">#16<span class="fas fa-chart-line ms-2"></span></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 px-0 mb-4">-->
<!--                <div class="card border-light shadow-sm">-->
<!--                    <div class="card-body">-->
<!--                        <h2 class="h5">Acquisition</h2>-->
<!--                        <p>Tells you where your visitors originated from, such as search engines, social networks or website referrals.</p>-->
<!--                        <div class="d-block">-->
<!--                            <div class="d-flex align-items-center pt-3 me-5">-->
<!--                                <div class="icon icon-shape icon-sm icon-shape-danger rounded me-3"><span class="fas fa-chart-bar"></span></div>-->
<!--                                <div class="d-block">-->
<!--                                    <label class="mb-0">Bounce Rate</label>-->
<!--                                    <h4 class="mb-0">33.50%</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center pt-3">-->
<!--                                <div class="icon icon-shape icon-sm icon-shape-quaternary rounded me-3"><span class="fas fa-chart-area"></span></div>-->
<!--                                <div class="d-block">-->
<!--                                    <label class="mb-0">Sessions</label>-->
<!--                                    <h4 class="mb-0">9,567</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
